{% extends "base.html" %}

{% block content %}

<div class="title">Voici l'état du jeu tel qu'il est maintenant que vous venez de jouer. Cliquez sur "résultat" pour tout actualiser. Si vous revenez ici, c'est que le deuxième joueur n'a pas encore joué.</div>
<br />

{% for item in items %}

<div id="items">
<div id="idsession" class="invisible">{{ item[0] }}</div>
<div id="ligne" class="invisible">{{ item[1] }}</div>
<div id="ligneval" class="invisible">{{ item[2] }}</div>
<div id="col" class="invisible">{{ item[3] }}</div>
<div id="colval" class="invisible">{{ item[4] }}</div>
</div>


<table>
	<tbody id="tabw">
   </tbody>
</table>

<a href="{{ url_for('results', ids=item[0]) }}">Résultat</a>
{% endfor %}

{% endblock %}
